/* ################################################# Cart on Side  ########################################################################### */

.basked {
width: 450px;
background-color: white;
border-style:groove;
border-color: rgba(128, 128, 128, 0.3);
border-radius: 16px;
padding: 16px;
flex-grow: 1;
height: 1940px;

}

.sticky_warenkorb { 
height: 600px;
border-radius: 4px;
overflow-y: auto;
}

.cart-test {
display: flex;
flex-direction: column;
}

.selection{
background-color: rgb(219, 216, 216);
border-radius: 24px;
padding: 10px;
font-size: 22px;
font-weight: bold
}

.sticky {
position: sticky;
top: 5px;
display: flex;
flex-direction: column;
}

.maincontent{
width: calc(100% - 308px);
margin-right :8px;
}

.double-content {
display: flex;
justify-content: space-between;
flex-direction: row;
flex-grow: 1;  
}

.total-line{
margin-top: 32px;
}

.summary-line {
display: flex;
justify-content: space-between;
padding: 4px 0;
}

.pay_delete {
margin-top: 8px;
display: flex;
justify-content: space-between;
align-items: center;
}

.bestellen{
background-color: #FF8000;
color: white;
font-size: 20px;
padding: 8px;
border-radius: 50px 
}

.delete {
height: 36px;
}

/* ################################################# item´s in Cart ########################################################################### */

.cart-item {
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px;
border-radius: 16px;
margin-bottom: 8px;
}

.cartName-Price {
flex: 1;

}

.cart-quantity{
display: flex;
justify-content: space-around;
align-items: center;
gap: 16px;
}

.btn-quantity{
background-color: rgb(247, 112, 2);
color: white;
border: none;
border-radius: 50px;
width: 35px;
height: 35px;
cursor: pointer;
font-size: 24px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
}

.piece{
margin: 8px 8px;
font-weight: 550;
color: rgb(90, 88, 88);

}

.quantity {
font-weight: bold;
}

.line-dividers{
height: 1px;
width: 100%;
background-color: black;
}


/* ################################################# Content ########################################################################### */

.product {
background-color: white;
height: 120px;
width: 100%;
border-style:groove;
border-color: rgba(128, 128, 128, 0.3);
border-radius: 16px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}

.productInfo{
flex: 1;
padding: 0px 16px;

}

.productext{
margin: 14px 0px;
color: rgb(90, 88, 88);
font-style: italic;

}


.price {
font-size: 20px;
font-weight: bold;
color: #FF8000;

}

.black{
color: black;
}

button {
color: #FF8000;
background-color: white;
border-style: none;
font-size: 48px;
margin-right: 10px;
cursor: pointer;

}

button:hover {
color: #aa6117;

}

.confirmation {
  height: auto;
  
}

.loader {
  border: 5px solid #eee;          
  border-top: 5px solid green;    
  border-radius: 50%;             
  width: 40px;                    
  height: 40px;                   
  animation: spin 1s linear infinite;
  margin: 0 auto 10px; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ##################################### Responsiv ############################################# */

@media (max-width: 1200px){

.broder {
margin: 20px 24px;
}

h3 {
font-size: 18px;
  }
.piece{
  font-size: 16px;
}
.btn-quantity {
  height: 25px;
  width: 25px;
  font-size: 18px;
}

.delete {
    height: 30px;
}

.productext{
  font-size: 16px;
}

.price {
  font-size: 18px;
}

.bestellen{
    font-size: 18px;
}

}



@media (max-width: 995px){

.basked{
    display: none;
}

.maincontent{
    flex: auto;
}

.cartResponsivContainer{
display: flex;

}

}
@media (max-width: 630px){
  .product {
    height: 320px;
    flex-direction: column;
  }

    
.foodImage {
    margin-top: 8px;
    height: 126px;
    width: 220px;
    margin-left: 0px;
  }

  .productInfo {
    flex: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .button_Res {
    background-color: rgb(247, 112, 2);
    color: white;
    border: none;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .cartResponsiv {
    padding: 32px 0px;
  }

  .cart-quantity{
  gap: 12px;
}

}

@media (max-width: 420px){
.together{
  display: none;
}
  .product {
    height: 360px;
}

.cart-Icon-Container {
margin: 8px 2px;
}

  .broder {
  margin: 20px 8px;
}


}

@media (max-width: 390px){
  .foodImage {
    height: 126px;
    width: 170px;
  }
}
